<% if current_user.id != user.id %>
	<div style="margin-left: 250px; margin-top: 10px">
		<div>
			<% if current_user.following?(user) %>
				<form method="post" class="followship_form" id="unfollow">
					<input type="hidden" id="user_id" 
					       name="idol_id" value=<%= user.id %>>
			
				  <input type="submit" class="btn btn-primary" 
				         id="submit_button"
				         value="unfollow">
				</form>
			<% else %>
			  <form method="post" class="followship_form" id="follow">
					<input type="hidden" id="user_id" 
					       name="idol_id" value=<%= user.id %>>
				
					<input type="submit" class="btn btn-primary"
					       id="submit_button"
					       value="follow">
				</form>
			<% end %>
		</div>
	</div>
<% end %>