<form method="post" class="tweet" action=<%="/timeline/#{post_to.id}"%>>
  <div class="form-group">
    <input type="tweet" 
    class="form-control" 
    id="tweet_text" 
    name="tweet_text"
    placeholder="What's happening?">
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">Tweet</button>
  </div>
</form>
