<div class="card tweet">
  <div class="card-body">
    <div class="row justify-content-start">
      <div class="col col-sm-auto">
        <%= t.user.name %>
      </div>
      <div class="col-md-auto">
        <%= t.created_at %>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p><%= t.tweet%></p>
      </div>
    </div>
  </div>
</div>