body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #FFFFFF;
}

#register .container #register-row #register-column #register-box {
  margin-top: 120px;
  max-width: 600px;
  height: 440px;
  border: 1px solid #9C9C9C;
  background-color: #FFFFFF;
}

#search #search-row #search-column #search-box {
  margin-top: 120px;
  max-width: 600px;
  height:220px;
  border: 1px solid #9C9C9C;
  background-color: #FFFFFF;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.tweet {
  max-width: 500px;
}
