<html>
  <head>
  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/app.js?version=1.0.0"></script>
    <link rel="stylesheet" type="text/css" href="/css/application.css?v=1.0.5">
    <link rel="stylesheet" type="text/css" href="/css/profile.css?v=1.0.0">
  </head>
  <body>
  	<% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>